<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Banking System </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=gpHqUkQZv_2OFGbDoPOIWT6KwYKgNnJR5RHLsMokzwLAKFvtzQJSbJ2eOo-6t3swrrBy33V5A5gl8O-GvxbBgdkhcALB5J4uxUwwVbsOf-ONaQ1STrBYTwKIwD8avZPpQTmIsplQ3PAyqkVix4P2cw" charset="UTF-8"></script><script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  <link href="/css/2.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3c">Click Proceed to view customers</h3>
                    
                </div>
                <div>
                    <form action="/view" method="GET">
                        <div>
                            <button type="submit" class="login_btn">Proceed</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">        
                </div>
            </div>
        </div>
    </div>
    
    </body>
</html>